.DS_Store
.build/
build/
midi_files/
xcode/
*.exe
*.pdb
*.dat
**/*.dSYM/**
tests/tests
examples/input
examples/output
examples/dump_sysex
examples/keys
examples/read_midi_file
examples/thru